body{
    background-image: url("https://c8.alamy.com/comp/DNMBM2/a-vector-illustration-of-kids-reading-a-book-in-the-library-DNMBM2.jpg");
    background-size:cover;
}
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6d6464;
  }
  
  a {
    float: left;
  }
  
  div a {
    display: block;
    color: rgb(226, 222, 222);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  div a:hover:not(.active) {
    background-color: #6e6b6b;
  }
  
  .active {
    background-color: #151817;
  }